<div id="tweets-content">
<div class="container">
<div class="row">

<div class="col-xs-4 left-content">



<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">

    <div class="panel-body">

      <h4 class="user">
        <span class="user-name"><%= link_to "#{current_user.username}", user_path(current_user) %></span>
        <span class="user-id">@<%= current_user.name %></span>
      </h4>

      <div class="user-activity">
        <div class="row">

          <div class="col-xs-4 tweets-num">
          <%= link_to user_path(current_user) do %>
            <div class="text">
              つぶやき
            </div>
            <div class="num"> 
              <%= current_user.posts.count %>
            </div>
            <% end %>
          </div>

          <div class="col-xs-4 tweets-num">
          <%= link_to follows_user_path(current_user) do %>
            <div class="text">
              フォロー
            </div>
            <div class="num"> 
              <%= current_user.followings.count %>
            </div>
            <% end %>
          </div>

          <div class="col-xs-4 tweets-num">
          <%= link_to followers_user_path(current_user) do %>
            <div class="text">
              フォロワー
            </div>
            <div class="num"> 
              <%= current_user.followers.count %>
            </div>
            <% end %>
          </div>
         
        </div><!-- row -->
      </div><!-- user-activity -->
    </div><!-- panel-body -->


    <div class="new-tweet">
      
      <div class="form-group new-tweet">
        <%= form_for(@post) do |f| %>

        <%= f.text_area :body ,:id => "tweet-content" ,:class => "form-controll" %>
        <br>
        <%= f.submit :value => "つぶやく",:class => "btn btn-primary" %>
        
        <% end %>
      </div>
      
    </div><!-- new-tweet -->



  </div><!-- panel panel-default -->

<% if notice %>
  <div class="alert alert-info">
    <p><%= notice %></p>
  </div>
<% end %>

<!-- kokokara -->
  
  <!-- <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %> 
  </div>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
  <%= f.label :interest_list, "興味・関心（カンマ区切り）" %><br>
  <%= text_field_tag 'post[interest_list]', @post.interest_list.join(',') %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->

</div>

<!-- kokomade -->





<div class="col-xs-8 right-content">


  <div class="list-group">
    <% @posts.each do |post| %>
     <%=link_to post_path(post) do %>
    <div class = "tweet list-group-item">
        <h4 class="user">
        <object><span class="user-name"><%= link_to "#{current_user.username}", user_path(current_user) %></span></object>
        <span class="user-id">@<%= post.user.try(:name) %></span>
        <span class="time pull-right"><%= distance_of_time_in_words_to_now(post.created_at) %></span>
        </h4>

        
        <div class="tweet-content">
          <p><%= post.body %></p>
          <p><%= render 'posts/tag_list', tag_list: post.interest_list %></p>
        
          <div class="content-footer">

            <% if post.favorited_by?(current_user) %>
              <p><object><%= link_to "いいね解除", post_favorites_path(post), method: :delete %></object>
            <% else %>
              <object><%= link_to "いいね!", post_favorites_path(post), method: :post %></object>
            <% end %>

            
            <% if post.user.followed_by? current_user %>
              <object><%= link_to "フォロー解除", user_relationships_path(post.user), method: :delete %></object>
            <% else %>
              <object><%= link_to "フォロー", user_relationships_path(post.user), method: :post %></object></p>
            <% end %>     
             
          </div><!-- content-footer -->

        </div><!-- tweet-content -->
    </div><!-- tweet list-group-item -->
  <% end %>
    <% end %>

  </div><!-- list-group -->

<br>
<div class="page_area"><%= paginate @posts %></div>
<br>


</div><!-- right-content -->




</div>
</div>
</div>

